{% extends "base.html" %}
{% load static %}
{% block title %}
    {% for curso in cursos %}
        {% if curso.url in request.path %}
            {{ curso.curso }}
        {% endif %}
    {% endfor %}

{% endblock %}
{% block container %}
    <div id="dropdown">
        <ul>
            {% for curso in cursos %}
                {% if curso.url in request.path %}
                    {% for disciplina in curso.disciplinas %}


                        <li><a href="{% url 'deta_disc' curso.url disciplina.url  %}" class="link_disc" > {{ disciplina.nome }}</a>
                            <ul>
                                <li>{{ curso.conteudo }}</li>
                            </ul>
                        </li>
                        <br>

                    {% endfor %}
                {% endif %}
            {% endfor %}


        </ul>
    </div>
{% endblock %}